{% extends 'base.html' %}
{% load static %}

{% block title %}
    Добавить сниппет
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>{{ pagename }}</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p>На данной страницы будут отображаться все созданные сниппеты.</p>
                <p>Пока тут пусто, скоро мы это исправим!</p>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-4 offset-2">
                Список сниппетов:
            </div>
        </div>
    </div>
{% endblock %}

{% include 'includes/footer.html' %}

